<span class="static" ng-hide="isEditing" ng-click="edit()" tooltip="{{ tooltipTitle }}">
  <kb-datetime datetime="value"></kb-datetime>
   <a class="placeholder" ng-show="!value">
         <i class="fa fa-pencil-square-o"></i>
         {{ placeholder }}
     </a>
</span>
<div ng-show="isEditing" class="editing">
    <div class="input-group">
        <input type="text" ng-model="editValue" class="form-control" placeholder="{{ placeholder }}"/>

        <div class="input-group-btn">
            <button class="btn btn-success" ng-click="save()">
                <i class="fa fa-check" title="save"></i>
            </button>
            <button class="btn btn-default" ng-click="cancel()">
                <i class="fa fa-times" title="Cancel"></i>
            </button>
        </div>
    </div>
</div>

