<div ng-hide="isEditing">
    <div class="text-right">
        <a class="placeholder" tooltip="{{ tooltipTitle }}" ng-click="edit()">
            <i class="fa fa-pencil-square-o"></i>
            {{ placeholder }}
        </a>
    </div>
    <div btf-markdown="value"></div>
</div>
<div ng-show="isEditing" class="editing">
  <textarea type="text" ng-model="editValue" placeholder="{{ placeholder }}">
  </textarea>
    <div class="form-actions">
        <button class="btn btn-primary" ng-click="save()">Save</button>
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</div>