<span class="static" ng-hide="isEditing" ng-click="edit()" tooltip="{{ tooltipTitle }}">
  <span ng-repeat="val in value">{{ val }}{{ $last ? '' : ', ' }}</span>
  <span class="placeholder" ng-show="!value">{{ placeholder }}</span>
</span>
<div ng-show="isEditing" class="editing">
    <div class="input-group">
        <select ui-select2 multiple ng-model="editValue"
                data-placeholder="{{ placeholder }}" >
            <option ng-repeat="val in options" value="{{ val }}" ng-selected="{{_.contains(token.componentAccess,val)}}">
                {{ val }}
            </option>
        </select>
        <span class="input-group-btn">
            <button class="btn btn-success" ng-click="save()">
                <i class="fa fa-check" title="save"></i>
            </button>
            <button class="btn btn-default" ng-click="cancel()">
                <i class="fa fa-times" title="Cancel"></i>
            </button>
        </span>
    </div>
</div>