<span class="static" ng-hide="isEditing" ng-click="edit()" tooltip="{{ tooltipTitle }}">
	{{ value }}
	<span class="placeholder" ng-show="!value">{{ placeholder }}</span>
</span>
<div ng-show="isEditing" class="editing">
    <div class="input-group">
        <select ng-options="value for value in options" class="form-control" ng-model="editValue"></select>

        <span class="input-group-btn">
            <button class="btn btn-success" ng-click="save()">
                    <i class="fa fa-check" title="save"></i>
            </button>
            <button class="btn btn-default" ng-click="cancel()">
                <i class="fa fa-times" title="Cancel"></i>
            </button>
        </span>

    </div>
</div>