.kb-sapi-events-table .list-more {
  text-align: center;
  margin: 20px 0px;
}

.kb-sapi-events-table .list-more button {
  width: 400px;
}

.kb-sapi-events-table .table-events tr {
  cursor: pointer;
}

.kb-sapi-events-table table{
/*    table-layout: fixed;*/

    -ms-word-break: break-all;
     word-break: break-all;

     /* Non standard for webkit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
    -ms-hyphens: auto;
  hyphens: auto;

}

.kb-sapi-events-table thead th{
    min-width:150px;
}

.kb-sapi-events-table .event-detail div
{
  word-wrap:break-word;
}

.kb-sapi-events-table .event-detail .well.message.danger 
{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.kb-sapi-events-table .event-detail .well.message.warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.kb-sapi-events-table .event-detail .well.message.info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.kb-sapi-events-table .event-detail .well.message.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}