

.kb-sapi-events-table .list-more {
	text-align: center;
	margin: 20px 0px;
}

.kb-sapi-events-table .list-more button {
	width: 400px;
}

.kb-sapi-events-table .table-events tr {
	cursor: pointer;
}