<div class="bs-docs-example">
  <div class="row">
    <div class="col-md-9">
      Page Content
    </div>
    <div class="col-md-3">
      <ul class="nav nav-stacked">
        <li><a>
          <i class="fa fa-plus fa-fw"></i>
          Menu Item
        </a></li>
      </ul>
      <kb-extractor-info configuration="configuration1" authorized-for="account1.username"></kb-extractor-info>
    </div>
  </div>
</div>

<div class="bs-docs-source">
  <h4>View</h4>
    <pre>
&lt;div class="row"&gt;
  &lt;div class="col-md-9"&gt;
    Page Content
  &lt;/div&gt;
  &lt;div class="col-md-3"&gt;
    &lt;ul class="nav nav-stacked"&gt;
      &lt;li&gt;&lt;a&gt;
        &lt;i class="fa fa-plus fa-fw"&gt;&lt;/i&gt;
        Menu Item
      &lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
    <strong>&lt;kb-extractor-info
      configuration="configuration"
      authorized-for="account.username"
    &gt;&lt;/kb-extractor-info&gt;</strong>
  &lt;/div&gt;
&lt;/div&gt;
</pre>
  <h4>Controller</h4>
    <pre>
app.controller('appController', () ->
  $scope.account = null
  $scope.configuration =
    creatorToken:
      description: 'user@keboola.com'
    created: '2014-11-19T11:25:34+0100'
)</pre>
</div>

<div class="bs-docs-example">
  <div class="row">
    <div class="col-md-9">
      Page Content
    </div>
    <div class="col-md-3">
      <ul class="nav nav-stacked">
        <li><a>
          <i class="fa fa-plus fa-fw"></i>
          Menu Item
        </a></li>
      </ul>
      <kb-extractor-info configuration="configuration2" authorized-for="account2.username"></kb-extractor-info>
    </div>
  </div>
</div>

<div class="bs-docs-source">
  <h4>View</h4>
     <pre>
&lt;div class="row"&gt;
  &lt;div class="col-md-9"&gt;
    Page Content
  &lt;/div&gt;
  &lt;div class="col-md-3"&gt;
    &lt;ul class="nav nav-stacked"&gt;
      &lt;li&gt;&lt;a&gt;
        &lt;i class="fa fa-plus fa-fw"&gt;&lt;/i&gt;
        Menu Item
      &lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
    <strong>&lt;kb-extractor-info
      configuration="configuration"
      authorized-for="account.username"
    &gt;&lt;/kb-extractor-info&gt;</strong>
  &lt;/div&gt;
&lt;/div&gt;
</pre>
  <h4>Controller</h4>
     <pre>
app.controller('appController', () ->
  $scope.account =
    username: 'customer@crm.com'
  $scope.configuration =
    creatorToken:
      description: 'user@keboola.com'
    created: '2014-11-19T11:25:34+0100'
)
</pre>
</div>
